* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family:  -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
    outline: none;

    --primary-hue: 240;
    --secondary-hue: 199;
    --primary: hsl(var(--primary-hue) 17% 16%);
    --secondary: hsl(var(--secondary-hue) 58% 69%);
}
h1{
    width: 100%;
    font-size: 3vh;
    margin: 20px 50px;
    text-align: center;
}
h2{
    text-align: center;
}
button{
    width: 100%;
}
form{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100%;
}
body{
    background-color: var(--primary);
}

.container{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 100%;
    color: #f7f7f7;
    padding: 20px 0;
}

.card{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 90%;
    max-width: 972px;
    padding: 20px;
    border-radius: 15px;
    box-shadow: 0 0 18px #000;
    background-color: #1b1b21;
}
.card .wrap-buttons{
    display: flex;
    flex-direction: row;
    width: 50%;
    margin-bottom: 20px;
}
.card .wrap-buttons button{
    padding: 50px;
}
.card .wrap-buttons button.cara{
    border-radius: 5px 0 0 5px;
    background-color: hsl(var(--primary-hue) 58% 69%);
}
.card .wrap-buttons button.coroa{
    border-radius: 0 5px 5px 0;
    background-color: var(--secondary);
}
.card form input{
    padding: 10px;
    text-align: center;
    width: 60%;
    max-width: 150px;
    border: none;
    font-size: 2em;
    border-bottom: 3px solid #fff;
    margin-bottom: 10px;
    background: none;
    color: #f7f7f7;
}
.card form input:focus{
    border-bottom: 3px solid rgb(106, 247, 240);
}
.card button{
    padding: 10px 50px;
    border: none;
    border-radius: 5px;
    color: #fff;
    cursor: pointer;
    background-color: #333;
}

.wrap-result{
    display: flex;
    flex-direction: row;
    width: 100%;
}
.result{
    text-align: center;
    width: 50%;
    padding: 20px;
    margin: 0 10px 20px 10px;
    border-radius: 8px;
    color: #fff;
}
.result.hits{
    background-color: #2eb743;
}
.result.mistakes{
    background-color: #e23232;
}

table#result{
    margin: 20px 0;
    width: 100%;
    text-align: center;
}
table#result thead tr td{
    font-weight: 600;
}
table#result tbody tr{
    color: #fff;
}
table#result tbody tr.win{
    background-color: #2eb743;
}
table#result tbody tr.loose{
    background-color: #e23232;
}